*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.bbl
*.blg
*.synctex.gz
_region_.tex
auto/
.dropbox
_region_.prv
.DS_Store
artificial-intelligence.prv
mnist_train.csv.gz
SetlX/Neural-Networks/mnist_train.csv
SetlX/Neural-Networks/mnist_test.csv
Literature/*
Exercises/*
Python/.ipynb_checkpoints/
Python/__pycache__/
Python/*/__pycache__
Python/*/.ipynb_checkpoints
Python/2 Constraint Solver/Constraint-Propagation-Solver-All-Solutions.ipynb
Python/2 Constraint Solver/Sudoku.ipynb
Lecture-Notes/_minted-_region_/*
Lecture-Notes/_minted-artificial-intelligence/*
Lecture-Notes/artificial-intelligence.idx
Lecture-Notes/artificial-intelligence.ilg
Lecture-Notes/artificial-intelligence.ind
Lecture-Notes/artificial-intelligence.lof
.mypy_cache/*