*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.bbl
*.blg
*.synctex.gz
_region_.tex
auto/
.dropbox
_region_.prv
.DS_Store
artificial-intelligence.prv
mnist_train.csv.gz
SetlX/Neural-Networks/mnist_train.csv
SetlX/Neural-Networks/mnist_test.csv