*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.bbl
*.blg
*.synctex.gz
_region_.tex
auto/
.dropbox
_region_.prv
.DS_Store
artificial-intelligence.prv
mnist_train.csv.gz
SetlX/Neural-Networks/mnist_train.csv
SetlX/Neural-Networks/mnist_test.csv
Literature/*
Exercises/*
Klausuren/*
Julia/*
Seminar-Arbeiten/*
Python/Solutions/*
Python/Experimental/*
**/__pycache__
**/.ipynb_checkpoints
Python/2 Constraint Solver/Constraint-Propagation-Solver-All-Solutions.ipynb
Python/3 Games/Connect-Four.ipynb
**/_minted-_region_/*
**/_minted-artificial-intelligence/*
**/artificial-intelligence.idx
**/artificial-intelligence.ilg
**/artificial-intelligence.ind
**/artificial-intelligence.lof
.mypy_cache/*
.vscode/
*.fdb_latexmk
*.fls
*.pyg
todo.txt
.idea/
